.test{
    width: 250px;
    height: 250px;
    border: 4px solid black;
}
*{
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ffffff;
}

.cars div{
    width: 360px;
    height: 360px;
    background-color: #f8f8f8;
    margin: 20px;
    outline:1px solid black ;
    background-image: url("https://subaru.ru/uploads/blocks/resize__320_26ec82e7c8c1280a715f8ae985ff9abd61ba58e731bb3.png");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position:center ;
}
.cars{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
}






